.homeBackPic {
    background: url('https://www.theagilityeffect.com/app/uploads/2019/09/00_VINCI-ICONOGRAPHIE_GettyImages-1065377816-1280x680.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.profileBackPic {
    width: 100%;
    height: 30%;
    position: absolute;
    align-self: center;
    top: 0;
    z-index: -10;
    object-fit: cover;
    overflow: hidden;
}

.datos-user {
    position: absolute;
    top: 30%;
    width: 50%;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
}

.opacity {
    background: rgba(0, 0, 0, 0.5);
}

.profile-name {
    color: rgb(27, 102, 27);
    font-weight: bolder;
}

.profile-name:hover {
    text-decoration: none;
}

.rounded-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#dropdownProfileButton:hover {
    cursor: pointer;
}